/*@media only screen and (max-device-width: 480px) {*/

	body {
		background-color: blue;
		color: white;
		font-family: 'Clicker Script', cursive;
		font-size: 12pt;
		width: 320px;
	}


	h1{
		text-align: center;
		font-size: 12pt;
		margin-top: -12px;
		margin-bottom: -12px;
		padding-bottom: -2px;
	}

	h2{
		text-align: center;
	}

	h3{
		text-align: center;
	}

	input{
		color: white;
	}

	span{
		font-family: Arial, Verdana, sans-serif;
		font-size: 12pt;
	}

	footer{
		text-align: center;
		font-family: Arial, Verdana, sans-serif;
	font-size: 12pt;
	}

	/**************************************************************************************************************************
	**************************************************************************************************************************
	**************************************************************************************************************************
	**************************************************************************************************************************
	**************************************************************************************************************************
	**************************************************************************************************************************/

	.inputTitle{
		margin-left: 120px;	
	}

	.info{
		font-size: 24px;
		margin-left: 20px;
		width: 200px;
		margin-top: -13px;
	}

	.bigTitle{
		font-family: 'Press Start 2P', cursive;
		font-size: 20px;
		text-align: center;
		color: red;
		background-color: black;
		margin-left: 120px;
		padding-top: 8px;
		width: 226px;
		height: 30px;
		border: solid red;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	overflow: auto;		
	}

	.miniTitle{
		margin-left: -84px;
	}

	.link{
		color: yellow;	
	}

	.info{
		margin-left: 421px;
		margin-top: -12px;
	}

	.bottomLink{
		color: yellow;
	}

	.linkToTable{
		color: #8a2be2;
	}

	.orange{
		color: orange;
	}


	/**************************************************************************************************************************
	**************************************************************************************************************************
	**************************************************************************************************************************
	**************************************************************************************************************************
	**************************************************************************************************************************
	**************************************************************************************************************************/

	#firstInputTitle{
		margin-top: 0px;
	}
		
	#myInputDec{
		width: 151px;
		font-size: 18px;
		border-top: none;
		border-right: none;
		border-left: none;
		background: transparent;	
	}

	#myInputDec:hover{
		color: black;
		background-color: #87ceeb;
		border: 5px solid red;
		height: 17px;
		margin-right: -10px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	overflow: auto;	
	}

	#myInputBin{
		width: 162px;
		font-size: 18px;
		border-top: none;
		border-right: none;
		border-left: none;
		background: transparent;	
	}

	#myInputBin:hover{
		color: black;
		background-color: #87ceeb;
		border: 5px solid red;
		height: 17px;
		margin-right: -10px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	overflow: auto;	
	}

	#myInputOct{
		width: 166px;
		font-size: 18px;
		border-top: none;
		border-right: none;
		border-left: none;
		background: transparent;	
	}

	#myInputOct:hover{
		color: black;
		background-color: #87ceeb;
		border: 5px solid red;
		height: 17px;
		margin-right: -10px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	overflow: auto;	
	}

	#myInputHex{
		width: 122px;
		font-size: 18px;
		border-top: none;
		border-right: none;
		border-left: none;
		background: transparent;	
	}

	#myInputHex:hover{
		color: black;
		background-color: #87ceeb;
		border: 5px solid red;
		height: 17px;
		margin-right: -10px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	overflow: auto;	
	}

	#decToBin, #decToOct, #decToHex, #binToDec, #binToOct, #binToHex, #octToDec, #octToBin, #octToHex, #hexToDec, #hexToBin, #hexToOct{
		margin-left: 128px;
	}

	#exception{
		margin-left: 110px;
	}


	#stickman{
		width: 160px;
		height: 35px;
		display: block;
	margin-top: 40px;
	margin-left: 150px;
	margin-bottom: 10px;
	}

	#spaceman{
		margin-left: 175px;
	}

	#d1{
		margin-left: 100px;
	}

	#d2{
		margin-left: 150px;
	}

	#goodgirl{
		margin-left: 114px;
	}

	#goodAlien{
		margin-left: 160px;
	}

	#sleepingMan{
		margin-left: 140px;
	}

	#firstInList{
		margin-top: 10px;
	}
		
	#explanation{
		margin-left: 120px;
		width: 270px;
		margin-top: -5px;
	margin-bottom: -5px;	
	}

	#hexTable{
		margin-left: 150px;
		width: 270px;
		margin-top: -5px;
	margin-bottom: -5px;	
	}

	#explanationYellow{
		color: yellow;
		margin-left: 350px;
		width: 270px;
		margin-top: -5px;
	margin-bottom: -5px;	
	}

	#explanationRed{
		color: red;
		font-weight: bold;
		background-color: white;
		margin-left: 350px;
		width: 280px;
		height: 80px;
		margin-top: -5px;
		margin-bottom: -5px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	overflow: auto;	
	}

	#explanationHexGreen{
		color: #7fff00;
		font-weight: bold;
		margin-left: 350px;
		width: 270px;
		margin-top: -5px;
	margin-bottom: -5px;
	}

	#greenChangeFont{
		color: #00FFFF;
		font-family: Arial, Verdana, sans-serif;
	font-size: 18px;
	}

	#normalFont{
		font-family: Arial, Verdana, sans-serif;
	font-size: 18px;
	}

	#normalFontOrange{
		font-family: Arial, Verdana, sans-serif;
		font-size: 18px;
	color: orange;
	}

	#specialNormalFontOrange{
		font-family: Arial, Verdana, sans-serif;
		font-size: 18px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		overflow: auto;
		color: black;
		background-color: #fff8dc;
	padding: 2px 2px 2px 2px;
	}

	#colourRed{
		color: red;
		font-weight: bold;
		font-family: 'Clicker Script', cursive;
		font-size: 30px;
	}


	#underline{
		font-family: 'Clicker Script', cursive;
		font-size: 30px;
		text-decoration: underline;
	}

	#underlineYellow{
		color: yellow;
		font-family: 'Clicker Script', cursive;
		font-size: 30px;
		text-decoration: underline;	
	}

	#hexList{
		text-align: center;
	}
		
	#btnDec, #btnBin, #btnOct, #btnHex{
		color: white;
		background-color: green;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		overflow: auto;
		color: white;
	  font-family: 'Clicker Script', cursive;
	  font-size: 25px;
	}

	#resetDec, #resetBin, #resetOct, #resetHex{
		display: inline;
		background-color: red;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		overflow: auto;
		color: white;
	  font-family: 'Clicker Script', cursive;
	  font-size: 25px;
	}

	#writeEmail{
		margin-left: 124px;
		width: 290px;
		color: black;
		background-color: #add8e6;
		font-family: Arial, Verdana, sans-serif;
		font-size: 16px;
		font-style: italic;
		padding-top: 5px;
		padding-left: 5px;
		padding-bottom: 5px;
		padding-right: 5px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	overflow: auto;
	}

	#clickHere{
		font-family: Arial, Verdana, sans-serif;
		font-size: 16px;
		color: red;
	}
/*}*/